* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(233, 47%, 7%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p, li {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    list-style-type: none;
}

.flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
}
.linear-gradient {
    width: 100%;
    height: 100%;
    background-color:  hsla(277, 64%, 61%, 0.5);
    z-index: 1;
}
.footer { 
    font-size: 11px; text-align: center;
    color: white; 
    font-family: 'Inter';
    position: fixed;
    bottom: 0;
    font-size: 13px;
    position: absolute;
    left: 40%;
}
.footer a { 
    color: hsl(277, 64%, 61%); 
    text-decoration: none;
}
/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .card {
        width: 1200px;
        height: 446px;
        display: flex;
    }

    .card .text {
        width: 500px;
    }
    .text {
        margin: 70px;
    }
    .text h1 {
        margin-bottom: 40px;
        letter-spacing: 2px;
        font-weight: bold, 700;
    }
    .text .paragraph {
        margin-bottom: 85px;
    }
    .text ul .inner {
        display: inline-block;
        margin-right: 60px;
    }
    ul .inner span {
        font-weight: bold;
        color: white;
        font-size: 25px;
    }

    .card .hero {
        background-image: url(img/image-header-desktop.jpg);
        height: 446px;
        width: 700px;
        background-size: cover;
        background-position: center;
        border-radius: 0 15px 15px 0;
    }

}

