* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box
}

.main-background {
    background-color: hsl(0, 0%, 95%);
}

.column-satu, .column-dua, .column-tiga {
    padding: 50px;
}

.card .column-satu {
    background-color: hsl(31, 77%, 52%);
}
.card .column-dua {
    background-color: hsl(184, 100%, 22%);
}
.card .column-tiga {
    background-color: hsl(179, 100%, 13%);
}
.text {
    color: white;
}
.header {
    font-family: 'Big Shoulders Display';
}
.paragraph {
    font-family: 'Lexend Deca';           
}

.myButton {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'Lexend Deca';
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: 'Lexend Deca';
    position: absolute;
    margin-left: 43%;
    bottom: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .card {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .column-satu, .column-dua, .column-tiga {
        width: 330px;
        height: 600px;
    }
    .column-satu {
        border-radius: 20px 0 0 20px;
    }
    .column-tiga {
        border-radius: 0 20px 20px 0;
    }
   
    .header {
        margin-bottom: 50px;  
    }
    .paragraph {
        width: 200px; 
    }
    img {
        width: 100px;
        margin-bottom: 50px;
    }
    a {
        margin-top: 80px;
    }
}
